.back-slider {
    position: relative;
    height: auto;
    width: 100%;
}

.cb-slideshow {
    list-style: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
	padding:0;
    margin:0;
    overflow: hidden;
    z-index: -1;
}

.cb-slideshow li { 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
	padding:0;
	margin:0;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 20s linear infinite 0s; 
}

.cb-slideshow li:last-child { 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
	padding:0;
	margin:0;
    opacity: 0;
    z-index: -1;
    animation: imageAnimationLastImage 20s linear infinite 0s;
}

.cb-slideshow li img{ 
    width: 100%;
    height: auto;
}

/* Animation for the slideshow images */
@keyframes imageAnimation { 
    0% { opacity: 0;
        animation-timing-function: ease-in; }
    5% { opacity: 1;
         animation-timing-function: ease-out; }
    25% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimationLastImage { 
    0% { opacity: 0;
        animation-timing-function: ease-in; }
    5% { opacity: 1;
         animation-timing-function: ease-out; }
    15% { opacity: 1 }
    20% { opacity: 0 }
    100% { opacity: 0 }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
