.sidebar {
  width: 55px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 0 10px #000000;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
  transition-delay: 1s;
  z-index: 900;
}

.sidebar:hover {
  transition: all 0.3s;
  width: 150px;
}

.sideBar__logo {
  transition: all 0.3s;
  width: 85%;
  height: auto;
  margin: 5px;
}

.sidebar:hover .sideBar__logo {
  transition: all 0.3s;
  margin: 5px;
  width: 85%;
}

.sideBar__menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  width: 150px;
  border-left: solid 15px #ffffff;
}

.sideBar__icone {
  margin-right: 10px;
  text-align: center;
  width: 25px;
}

.sideBar__itensMenu {
  text-align: left;
  color: #000000;
  margin: 5px 0;
  padding: 5px 0;
  transition: all 0.5s;
  border-left: solid 0px #ffffff;
}

.sideBar__itensMenu:hover {
  background-color: #cccccc;
  border-left: solid 5px #000000;
  margin-left: -15px;
  padding-left: 10px;
}

.sideBar__itensMenu:hover a {
  color: #ffffff;
  text-decoration: none;
}

.sideBar__link {
  color: #000000;
  cursor: pointer;
}

.sideBar__link:hover {
  color: #ffffff;
}
