.alunosDetalhes {
  padding: 20px 20px 20px 100px;
}

.alunosDetalhes__dados {
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  min-height: 50px;
  border: none;
  padding: 5px 15px 25px 15px;
}

.alunosDetalhes__dados--show {
  min-height: 50px;
}

.alunosDetalhes__linhaDados {
  padding: 10px 0;
}

.btnEdit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
}

.btnToggle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
