.App {
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*============================*/
/* TopMenu */
/*============================*/
.logo {
  height: 80px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px #000000;
  z-index: 999;
}

.navbar-toggler {
  width: 44px;
  height: 34px;
  border-color: #000000;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  padding: 4px 2px 2px;
}
/*============================*/

footer {
  background-color: #ffffff;
  box-shadow: 0 0 10px #000000;
  z-index: 999;
  padding: 10px 0;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 25px !important;
  border-radius: 15px !important;
}

select {
  border-radius: 15px !important;
  margin-bottom: 10px;
  padding: 15px !important;
  height: 50px !important;
}

h1,
h2 {
  margin: 20px;
}

h2 {
  font-size: 2.125rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}

.btn {
  width: 100%;
  transition: all 0.3s;
  padding: 20px 40px;
  margin: 0 0 20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
}

.btn-success:hover {
  background-color: #ffffff;
  color: #28a745;
}

.btn-danger:hover {
  background-color: #ffffff;
  color: #dc3545;
}

.btnCancel {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 200%;
  transition: all 0.3s;
  z-index: 999;
}

.btnCancel:hover {
  color: red;
}

.card {
  background-size: cover;
  background-position: top;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 5px #000000;
  margin-bottom: 10px !important;
  min-height: 220px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

/*============================*/
/* Mensagem de validação */
/*============================*/
form span {
  color: #721c24;
  background-color: #f8d7da;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-color: #f5c6cb;
  display: block;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: block;
}
/*============================*/

/*============================*/
/* Home */
/*============================*/
.slides {
  position: relative;
  margin: 5px 0;
  width: 100%;
  box-shadow: 0 0 10px #000000;
}

.home__bloco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.4s;
}

.home__bloco:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.home__bloco__texto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 5;
  font-weight: bold;
  color: #000000;
}

.mapa {
  position: relative;
  height: 400px;
  box-shadow: 0 0 10px #000000;
}

/*============================*/
/* Contatos */
/*============================*/
.contato__bloco__icones {
  margin-bottom: 20px;
  background: url('/assets/images/contato-bg1.jpg') 50% no-repeat;
  background-size: cover;
  padding: 20px;
}

.contato__card {
  margin: auto;
  width: 400px;
  max-width: 95%;
}

.contato__icone {
  border-radius: 45px;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
  width: 60px;
  height: 60px;
  font-size: 200%;
}

/*=============================*/
/* Dashboard */
/*=============================*/
.dashboard {
  margin-top: -100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.dashboard__card {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 400px;
}

.legenda__dados {
  font-weight: bold;
  padding: 0 10px;
}

.wrap100vh {
  /*min-width: 80%;*/
  max-width: 500px;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
